<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Incidencia</title>
</head>
<body>
<h1>Crear incidencia</h1>
<form action="/create">
    <label for="user">Usuario:</label><br>
    <input type="text" id="user" name="user" required><br>
    <label for="priority">Prioridad:</label><br>
    <input type="number" id="priority" name="priority" required><br>
    <label for="date">Fecha:</label><br>
    <input type="date" id="date" name="date" required><br>
    <input type="submit" value="Crear">
    <input id="return" type="button" value="Volver" onclick="location.href='/';" />
</form>
</body>
</html>
